.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  color: #000;
}

header.banner {
  color: $logo;
  background: url("../images/bg.jpg") no-repeat scroll 0 (0 / cover);
  height: 270px;

  #nav-page {
    font-weight: bold;
    background-color: $bg-content;
    color: $black;
  }

  .container-brand {
    .brand {
      svg {
        filter: drop-shadow((-2px) -2px 5px #000);
        height: auto;
      }
    }
  }

  .nav-primary {
    @include titulos-chamadas($size: 1rem);
  }

  // Menu categorias
  #nav-menu {
    background-color: $cor-primary;
    color: white;
    height: 35px;
    z-index: 9998;

    ul {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      li {
        display: inherit;
        list-style: none;
        position: relative;

        .sub-menu {
          display: none;
          position: absolute;
          box-shadow: 4px 3px 6px -4px rgba(0, 0, 0, 0.75);
          font-size: 1rem;
          min-width: 10rem;
          left: 0;
          top: 100%;

          li {
            z-index: 9999;
            padding: 1rem;
            white-space: nowrap;

            &:hover {
              background-color: #137c9f;
            }
          }
        }

        &:hover .sub-menu {
          display: block;
          z-index: 9999;
          background-color: $cor-primary;
        }

        a {
          text-decoration: none;
          color: white;
          width: 100%;
          display: inline-block;
        }

        a:hover {
          color: hsla(0, 0%, 100%, 0.75);
        }
      }

      .menu-item-has-children {
        &::after {
          content: '\2304';
          position: relative;
          bottom: 3px;
          left: 5px;
        }
      }
    }

    .toggle-menu ul {
      display: table;
      width: 25px;
    }

    input[type=checkbox],
    label {
      display: none;
    }
  }
}
