.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  color: #000;
}

header.banner {
  // @extend %flex-header;
  color: $logo;
  background: url("../images/bg.jpg") no-repeat scroll 0 (0 / cover);
  height: 270px;

  #nav-page {
    font-weight: bold; // font-size: small;
    background-color: $bg-content;
    color: $black;
  }

  .container-brand {
    // padding: 0 0 5em; 
    .brand {
      svg {
        filter: drop-shadow((-2px) -2px 5px #000);
        height: auto;
      }
    }
  }

  .nav-primary {
    @include titulos-chamadas($size: 1rem);
  }
  // Menu categorias
  #nav-menu {
    background-color: $cor-primary;
    color: white;
    height: 35px;
    z-index: 9998;

    ul {
      padding: 0; // margin: 0;
      // max-width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; // align-items: left;
      li {
        display: inherit;
        list-style: none;
        position: relative; // flex: 0 1 auto;

        .sub-menu {
          display: none;
          position: absolute;
          box-shadow: 4px 3px 6px -4px rgba(0, 0, 0, 0.75);
          // padding: 0.5rem 0;
          // margin: 0.125rem 0 0;
          font-size: 1rem;
          min-width: 10rem;
          left: 0;
          top: 100%;

          li {
            z-index: 9999;
            padding: 1rem;
            white-space: nowrap;

            &:hover {
              background-color: #137c9f;
            }
          }
        }

        &:hover .sub-menu {
          display: block;
          z-index: 9999;
          background-color: $cor-primary;
        }

        a {
          text-decoration: none; // transition: background 0.2s linear;
          color: white;
          width: 100%;
          display: inline-block;
          // padding: 0 2rem 0 0;
          // display: block;
        }

        a:hover {
          color: hsla(0, 0%, 100%, 0.75);
        }
      }

      .menu-item-has-children {
        // background-color: orange;

        &::after {
          content: '\2304';
          position: relative;
          bottom: 3px;
          left: 5px;
        }
      }
    }

    .toggle-menu ul {
      display: table;
      width: 25px;

      // li {
      //   width: 100%;
      //   height: 3px;
      //   background-color: #002e5b;
      //   margin-bottom: 4px;
      // }
    }

    // .toggle-menu ul li:last-child {
    //   margin-bottom: 0;
    // }

    input[type=checkbox],
    label {
      display: none;
    }
  }
}
