.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  color: #000;
}

body {
  .content {
    border-left: $border-solid;
    border-right: $border-solid;
  }
}

header.banner {
  color: #fff;
  background: url("../images/bg.jpg") no-repeat scroll 0 (0 / cover);
  // background: url("/app/themes/IH/dist/images/bg_3e3ec10d.jpg") no-repeat scroll 0 (0 / cover);
  // height: 270px;

  #nav-page {
    font-weight: 700;
    background-color: $bg-content;
    color: #000;
  }

  .nav-primary {
    font: 1rem "Muli", sans-serif;
  }

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  .flex-item {
    &:first-child {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
    }

    &:nth-child(2) {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
    }

    &:nth-child(3) {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
    }
  }
}

.container-brand .brand svg {
  filter: drop-shadow((-2px) -2px 5px #000);
  height: auto;
}

#nav-menu {
  background-color: $cor-primary;
  color: $white;
  height: 35px;
  z-index: 9998;

  ul {
    // padding: 5px 0 0 0;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      display: inherit;
      list-style: none;
      position: relative;

      .sub-menu {
        display: none;
        position: absolute;
        box-shadow: 4px 3px 6px -4px rgba(0, 0, 0, 0.75);
        font-size: 1rem;
        min-width: 10rem;
        left: 0;
        top: 100%;
        padding: 0;

        li {
          z-index: 9999;
          padding: 1rem;
          white-space: nowrap;

          &:hover {
            background-color: $hover-menu;
          }
        }
      }

      &:hover .sub-menu {
        display: block;
        z-index: 9999;
        background-color: $cor-primary;
      }

      a {
        text-decoration: none;
        color: #fff;
        width: 100%;
        display: inline-block;

        &:hover {
          color: rgba(255, 255, 255, 0.75);
        }
      }
    }

    .menu-item-has-children::after {
      content: "\2304";
      position: relative;
      bottom: 3px;
      left: 5px;
    }
  }

  // .toggle-menu ul {
  //   display: table;
  //   width: 25px;
  // }

  input[type=checkbox],
  label {
    display: none;
  }
}
