// Pages

$cores-hr: (periodos, $cat-periodos),
  (idade-antiga, $cat-periodos),
  (idade-media, $cat-periodos),
  (idade-moderna, $cat-periodos),
  (idade-contemporanea, $cat-periodos),
  (historia-do-brasil, $cat-histbrasil),
  (colonia, $cat-histbrasil),
  (imperio, $cat-histbrasil),
  (republica, $cat-histbrasil),
  (cinema, $cat-artes),
  (musica, $cat-artes),
  (literatura, $cat-artes),
  (biografias, $cor-personalidades),
  (direitos-humanos, $cat-dirhum),
  (curiosidades, $cat-curios),
  (guerras, $cor-guerras),
  (armas-historicas, $cor-guerras),
  (batalhas-historicas, $cor-guerras),
  (massacres-e-genocidios, $cor-guerras),
  (primeira-guerra-mundial, $cor-guerras),
  (segunda-guerra-mundial, $cor-guerras),
  (crime-organizado, $cor-crime),
  (personalidades, $cor-personalidades),
  (criminosos, $cor-personalidades),
  (fotografos, $cor-personalidades),
  (artes, $cat-artes);

@each $hr-category,
  $color in $cores-hr {
  .category-#{$hr-category} {
    .page-header {
      hr {
        border-color: $color;
        // border-style: solid $color;
        border-width: 5px 0;
      }
    }
  }
}

// .page-header {
//   hr {
//     border-color: $cat-outros;
//     // border-style: solid $color;
//     border-width: 5px 0;
//   }
// }

.page-template-template-allcategories {
  main {
    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1rem;
    }

    .header-link {
      text-decoration: none;
      padding: 10px 0;
      color: $titulos-cor;

      &:hover {
        // -webkit-transition: all 0.2s ease-out;
        // transition: all 0.2s ease-out;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#2da2c5), to(#2da2c5));
        background-image: linear-gradient(#2da2c5, #2da2c5);
        background-repeat: no-repeat;
        background-size: 100% 1.5px;
        background-position: center bottom 20%;
        background-origin: padding-box;
        text-shadow: 3px 0 #f6f3f2, 2px 0 #f6f3f2, 1px 0 #f6f3f2, -1px 0 #f6f3f2, -2px 0 #f6f3f2, -3px 0 #f6f3f2;
        position: static;
        color: $link;
      }
    }

    section {
      margin-bottom: 15px;
      border-bottom: 1px solid $border-content;
    }
  }
}

.sidebar-primary,
.archive {
  article {
    header {
      h2 {
        @include titulos($titulos-cor, $size: 1.5rem);
      }

      p {
        @include titulos($titulos-cor, $size: 0.95rem);

        margin-bottom: 1em;
      }
    }

    a {
      @include text-underline-hover($color: $link);

      color: $titulos-cor;
    }
  }

  .pagination {
    color: #188cb3;
    margin: 3em auto;

    h2 {
      color: inherit;
    }

    .nav-links {
      color: inherit;
      margin: 0 auto;

      a {
        color: inherit;
      }

      .page-numbers:not(.prev):not(.next) {
        border-right: 1px solid $cor-primary;
        padding: 0 10px 0 5px;
      }

      .current {
        font-size: large;
        font-weight: bolder;
      }
    }
  }

  .author-page {
    color: $cor-texto;

    .author-facebook {
      display: block;
      margin-top: 10px;

      img {
        width: 5%;
      }
    }

    .author-description {
      @extend %text-selection;

      border-bottom: 1px solid #dadada;
      padding-bottom: 35px;
      margin-top: 15px;
    }

    .author-posts {
      margin-bottom: 25px;
    }
  }
}

.archive,
.search {
  article {
    border-bottom: 1px solid $border-content;
    margin-bottom: 15px;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.page {
  main {
    section {
      @include titulos($black);
    }
  }
}
