// CSS Geral
a {
  color: $titulos_cor;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

hr {
  border-color: $cor-complem;
  border-style: solid $cor-complem;
  border-width: 5px 0;
  // margin: 18px 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  header.banner {
    .nav-primary-main {
      background-color: $cor-primary;
      color: white;
      ul.nav {
        // menu dropdown responsivo
        li {
          .dropdown-menu {
            background-color: $cor-primary;
            color: inherit;
            a:hover { background-color: #137c9f; }
          }
        }
        // menu abaixo antigo, remover depois
        > li {
          position: relative;
          &::after {
            background-color: #73c7eb;
            content: "";
            height: 65%;
            position: absolute;
            right: 0;
            top: 15%;
            width: 2px;
          }
          &:last-child::after { background-color: transparent; }
          ul.sub-menu {
            display: none;
            position: absolute;
            z-index: 9999;
            padding: 0;
            box-shadow: 5px 6px 5px 0 rgba(0, 0, 0, 0.25);
            li {
              background-color: $cor-primary;
              &:hover { background-color: #137c9f; }
            }
          }
        }
      }
    }
    nav.nav-primary {
      @include titulos_chamadas($size: 1rem)
      ul.nav {
        li {
          list-style: none;
          a { color: inherit; white-space: nowrap; }
          &.menu-item-has-children {
            &:hover .sub-menu {
              display: inline !important;
            }
          }
        }
      }
    }
  }

  // background: rgba(0, 0, 0, 0) url("../images/ricepaper_v3.png") repeat scroll 0 0;
  .content {
    background-color: white;
    padding-top: 20px;
    main {
      overflow: hidden;
      font: 'Roboto', sans-serif;
      section {
        overflow: hidden;
      }
    }
  }
}

// CSS apenas home
body {
  // background-color: pink;
  .content {
  }
  main {
    // background-color: #D3D3D3;
    section#carousel {
      // height: 750px;
      height: 435px;
      margin-bottom: 15px;
      // background-color: red;
      .flickity-page-dots {
        bottom: -20px !important;
      }
      .flickity-slider li {
          width: 100%;
          list-style: none;
          h2 {
            @include titulos;
          }
          img {
            max-width: 100%;
            width: 100%;
            min-height: 435px;
          }
          span{
            // background: rgb(54, 25, 25); /* Fall-back para browsers antigos */
            // background: rgba(54, 25, 25, .5);
            @extend %titulo_bg;
            color: white;
            bottom: 0;
            left: 0;
            position: absolute;
            padding: 0 15px 10px;
            h2 {
              @include titulos_chamadas_bold;
              padding: 0;
              margin: 0;
            }
            p {
              @include titulos_chamadas;
              // background-color: purple;
              // padding: 5px 10px;
            }
          }
        }
    }
    section#curiosidades {
      // background-color: yellow;
      h2 {
        @include titulos;
        background-color: $cor-complem;
        color: white;
        text-indent: 1em;
        line-height: 2em;
      }
      article {
        position: relative;
        margin-bottom: 15px;
        h3 {
          @include titulos_chamadas_bold;
        }
        h4 {
          @include titulos_chamadas_bold($size: 0.9rem);
          @extend %titulo_bg;
          bottom: 0;
          color: white;
          left: 0;
          margin: 0;
          padding: 3px 0 3px 10px;
          position: absolute;
          width: 100%;
        }
      }
      img {
        max-width: 100%;
        height: auto;
        width: 100%;
      }
    }
    section#mais {
      h2 {
        @include titulos;
        background-color: $cor-complem;
        color: white;
        text-align: center;
        line-height: 2em;
      }
      article {
        @include titulos_chamadas;
        h3 {
          @include titulos_chamadas_bold($size: 1rem);
        }
      }
      img {
        max-width: 100%;
        // width: 100%;
      }
      .mais-extensao {
        margin-top: 15px;
        h2 {
          background-color: transparent;
          color: black;
          display: block;
          text-align: center;
          &:after { background: none; }
        }
      }
    }
    span.text-center {
      display: block;
      margin: 0 auto;
      a.button { @include titulos_chamadas_bold($size: 2rem); }
    }
  }
}

// Paginas e Categorias
.archive {
  .page-header {
  }
  article {
    header {
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

// Font-face
// @font-face {
//     font-family: 'roboto_slabbold';
//     src: url('../fonts/Roboto_Slab/robotoslab-bold-webfont.eot');
//     src: url('../fonts/Roboto_Slab/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/Roboto_Slab/robotoslab-bold-webfont.woff2') format('woff2'),
//          url('../fonts/Roboto_Slab/robotoslab-bold-webfont.woff') format('woff'),
//          url('../fonts/Roboto_Slab/robotoslab-bold-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
//
// }

// Lupa Busca
.search-submit:before { content: '\f50d'; } /* '' */
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?52214021');
  src: url('../fonts/fontello/fontello.eot?52214021#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?52214021') format('woff2'),
       url('../fonts/fontello/fontello.woff?52214021') format('woff'),
       url('../fonts/fontello/fontello.ttf?52214021') format('truetype'),
       url('../fonts/fontello/fontello.svg?52214021#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?52214021#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before { content: '\f50d'; } /* '' */
