// Media Queries
// Resoluções abaixo de desktop
@include media-breakpoint-down(lg) {
  .wrap.container {
    width: inherit;
  }

  %titulo-materia {
    font-size: 1rem;
  }

  %titulo-excerpt {
    font-size: 0.8rem;
  }

  .search-form .search-field {
    padding: 1em 0 1em 1em;
    width: 100%;
  }

  header.banner {
    margin-bottom: 0;
    border-bottom: none;

    .collapse.show,
    .collapsing {
      display: block;
      margin-top: -2.5em;
    }

    .navbar-toggleable-md {
      background-color: transparent !important;
    }

    .nav-primary {
      padding-bottom: 0;

      .hidden-md-up {
        .nav {
          align-self: stretch;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          margin: 0;
          padding: 0;

          li {
            flex-grow: 1;

            a {
              font-size: 0.7rem;
              padding: 5px;
            }
          }
        }
      }

      button {
        // background-color: #188cb3;
        border: 0 none;
        font-size: 1.7rem;
        position: absolute;
        top: -3.3em;

        .fa {
          font-size: 2.5rem;
        }
      }

      .dropdown-menu {
        display: block;
      }

      #menu-categorias-menu {
        background-color: $cor-primary;
        width: 100%;
      }
    }

    #logo {
      height: 110px;
      border-bottom: 2px solid #fff;

      .logo-titulo {
        padding-top: 1.5em;

        svg {
          height: 85%;
        }

        h1 {
          font-size: 1.5rem;
          margin-left: 1em;
          // margin-top: 15px;
        }
      }
    }
  }

  body.home {
    main {
      .main-carousel {
        height: 260px;

        .flickity-prev-next-button {
          height: 20px;
          top: 30%;
          width: 20px;
        }

        .flickity-slider li {
          img {
            min-height: 0;
            height: auto;
          }

          span {
            position: relative;
            background: transparent;
            padding: 0;

            p {
              @extend %titulo-excerpt;
            }

            h2 {
              @extend %titulo-materia;
            }
          }
        }
      }
      // end section carrousel
      section#curiosidades,
      section#mais {
        h2 {
          font-size: 1.5rem;
        }

        article {
          img {
            width: 100%;
          }

          h3,
          h4 {
            @extend %titulo-materia;
          }

          p {
            @extend %titulo-excerpt;
          }
        }
      }

      figure.aligncenter {
        display: inline;
      }
    }
  }

  body {
    .content {
      padding-top: 0;
    }
  }

  aside.sidebar {
    .search-form .search-submit {
      font-size: 1.5rem;
      right: 1em;
      top: 1em;
    }
  }

  .single-post {
    .content {
      main {
        .crp_related {
          ul {
            li {
              width: 100%;

              a img {
                height: 200px;
              }
            }
          }
        }

        article {
          margin-top: 10px;
        }
      }
    }
  }
}

//Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
  body.home {
    .wrap.container {
      // background-color: pink;
    }
  }
}

@include media-breakpoint-only(xs) {
  body.home {
    // background-x: yellow;
  }

  // single
  .single-post .content main h1 {
    font-size: 1.5rem;
  }

  ul.heateor_sss_sharing_ul li {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .sidebar-primary main article header p {
    font-size: small;
  }
  // end single

  footer.content-info {
    .sitemap-footer > li {
      width: 100%;
    }

    .search-form .search-submit {
      font-size: 1.5rem;
      top: 0.5em;
    }
  }
}

@include media-breakpoint-only(xs) {
  body.home {
    .wrap.container {
      // background-color: yellowgreen;
    }
  }
}

// landscape cellphone
@include media-breakpoint-only(sm) {
  body.home {
    .main-carousel {
      height: 200px;
    }

    .wrap.container {
      // background-color: green;
    }
  }
}

// portrait tablet 1024x768
@include media-breakpoint-only(md) {
  body.home {
    .wrap.container {
      // background-color: blue;
    }

    #logo {
      height: 300px;
    }

    header.banner .nav-primary button {
      font-size: 3rem;
      right: 0.5em;
      top: -5.2em;
    }

    header.banner .collapse.show,
    header.banner .collapsing {
      margin-top: -12.5em;
    }

    main {
      .main-carousel {
        height: 500px;
      }
    }
  }
}

//desktop and landscape tablet
@include media-breakpoint-only(lg) {
  header.banner .nav-primary-main {
    padding: 0;
    font-size: 0.9rem;

    .dropdown-menu {
      display: none;
      font-size: 0.8rem;
    }
  }

  body.home {
    .wrap.container {
      // background-color: purple;
    }
  }
}

@include media-breakpoint-only(xl) {
  .heateorSssWhatsappBackground {
    display: none !important;
  }

  body.home {
    .wrap.container {
      // background-color: orange;
    }
  }
}
