// Media Queries

//Extra small devices (portrait phones, less than 576px)
// @include media-breakpoint-down(xs) {
//   body.home {
//     // background-color: pink;
//   }
// }

@include media-breakpoint-only(xs) {
  body {
    // background-x: yellow;
    .search-form .search-field {
      padding: 1em 0 1em 1em;
      width: 100%;
    }

    header.banner {
      margin-bottom: 0;
      border-bottom: none;

      .collapse.show,
      .collapsing {
        display: block;
        margin-top: -2.5em;
      }

      .navbar-toggleable-md {
        background-color: transparent !important;
      }

      .nav-primary {
        padding-bottom: 0;

        .hidden-md-up {
          .nav {
            align-self: stretch;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            margin: 0;
            padding: 0;

            li {
              flex-grow: 1;

              a {
                font-size: 0.7rem;
                padding: 5px;
              }
            }
          }
        }

        button {
          // background-color: #188cb3;
          border: 0 none;
          font-size: 1.7rem;
          position: absolute;
          top: -3.3em;

          .fa {
            font-size: 2.5rem;
          }
        }

        .dropdown-menu {
          display: block !important;
        }

        #menu-categorias-menu {
          background-color: $cor-primary;
          width: 100%;
        }
      }

      #logo {
        height: 110px;
        border-bottom: 2px solid #fff;

        .logo-titulo {
          padding-top: 1.5em;

          svg {
            height: 85%;
          }

          h1 {
            font-size: 1.5rem;
            margin-left: 1em;
            // margin-top: 15px;
          }
        }
      }
    }

    .content {
      padding-top: 0;

      main {
        section#carousel {
          height: 260px;

          .flickity-prev-next-button {
            height: 20px;
            top: 30%;
            width: 20px;
          }

          .flickity-slider li {
            img {
              min-height: 0;
              height: 145px;
            }

            span {
              position: relative;
              background: transparent;
              padding: 0;

              p {
                font-size: small;
              }

              h2 {
                font-size: 1.2rem;
                margin-bottom: 5px;
              }
            }
          }
        }
        // end section carrousel
        section#curiosidades,
        section#mais {
          h2 {
            font-size: 1.5rem;
          }

          article {
            img {
              width: 100%;
            }

            h3 {
              font-size: 1.2rem;
            }
          }
        }

        figure.aligncenter {
          display: inline;
        }
      }
    }

    aside.sidebar {
      .search-form .search-submit {
        font-size: 1.5rem;
        right: 1em;
        top: 1em;
      }
    }
  }

  .single-post {
    .content {
      main {
        article {
          margin-top: 10px;
        }

        .crp_related {
          ul li {
            width: 100%;
          }
        }
      }
    }
  }

  footer.content-info {
    .sitemap-footer > li {
      width: 100%;
    }

    .search-form .search-submit {
      font-size: 1.5rem;
      top: 0.5em;
    }
  }
}

@include media-breakpoint-up(xs) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

@include media-breakpoint-up(sm) {
  body.home {
    // background-color: green;
  }
}

@include media-breakpoint-up(md) {
  body.home {
    // background-color: blue;
  }
}

@include media-breakpoint-up(lg) {
  body.home {
    // background-color: orange;
  }

  .heateorSssWhatsappBackground {
    display: none !important;
  }
}
