// Colors
$brand-primary:         #084a60;
$cor-primary:           #188cb3; // azul
$cor-complem:           #c27525; // laranja
$cor-sidebar:           #c9dae1; // azul claro
$titulos_cor:           #171f44;
//cor categorias historia brasil
$cat_histbrasil:        #9BF046;
$cat_colonia:           #96E078;
$cat_imperio:            #7FB747;
$cat_republica:          #4C8216;
//cor categorias periodos
$cat_periodos:          #ffd88d;
$cat_idantiga:          #deb058;
$cat_idmedia:           #b58a37;
$cat_idmoderna:         #976115;
$cat_idcontemp:         #5b3b0e;
//cor categorias artes
$cat_artes:              #FF210A;
$cat_cinema:             #E7543C;
$cat_musica:             #EB7A68;
$cat_liter:              #F86D57;
//cor biografias
$cat_bio:                #6657F8;
$cat_dirhum:             #0F2886;
$cat_curios:             #083C17;
// cor guerras
$cor_guerras:            #000000;
$cor_armas:              #37353a;
$cor_batalhas:           #6e6e76;
$cor_massacres:          #8e8e9a;
$cor_1guerra:            #b2b3b8;
$cor_2guerra:            #d0cfd5;
//cor mais
$cat_mais:               #9004CB;
$cor_livros:             #ef23d0;
$cor_papeis:             #c11aa8;
$cor_crime:              #30014f;
$cor_outras:             #9004CB;

//Mixins
@mixin titulos($size: 2rem) {
  font: $size 'roboto_slabregular', serif;
}

@mixin titulos_chamadas($size: 1rem) {
  font: $size 'roboto_slabregular', serif;
}

@mixin titulos_chamadas_bold($size: 2rem) {
  font: $size 'roboto_slabbold', serif;
}

%titulo_bg {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  &:hover { background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0; }
}

// Font-face
@font-face {
    font-family: 'roboto_slabbold';
    src: url('../fonts/Roboto_Slab/robotoslab-bold-webfont.eot');
    src: url('../fonts/Roboto_Slab/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto_Slab/robotoslab-bold-webfont.woff2') format('woff2'),
         url('../fonts/Roboto_Slab/robotoslab-bold-webfont.woff') format('woff'),
         url('../fonts/Roboto_Slab/robotoslab-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_slabregular';
    src: url('../fonts/Roboto_Slab/robotoslab-regular-webfont.eot');
    src: url('../fonts/Roboto_Slab/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto_Slab/robotoslab-regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto_Slab/robotoslab-regular-webfont.woff') format('woff'),
         url('../fonts/Roboto_Slab/robotoslab-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto/roboto-bold-webfont.eot');
    src: url('../fonts/Roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/Roboto/roboto-bolditalic-webfont.eot');
    src: url('../fonts/Roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/Roboto/roboto-italic-webfont.eot');
    src: url('../fonts/Roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto/roboto-regular-webfont.eot');
    src: url('../fonts/Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

// @include media-breakpoint-up(xs) {  }
// @include media-breakpoint-up(sm) {  }
// @include media-breakpoint-up(md) {  }
// @include media-breakpoint-up(lg) {  }
// @include media-breakpoint-up(xl) {  }
//
// // Example usage:
// @include media-breakpoint-up(sm) {
//   .some-class {
//     display: block;
//   }
// }
