// Colors
$brand-primary:         #27ae60;
// $titulos_cor:           rgb(23, 31, 68);
$titulos_cor:           #171f44;
$hover_cor:             red;

//Mixins
@mixin titulos($style:normal, $weight: 700, $size: 2rem, $color: $titulos_cor, $margin-top: 5px) {
  font: $style $weight $size 'Roboto Slab', serif;
}

@mixin titulos_chamadas($weight:normal, $size: 1rem, $color: $titulos_cor ) {
  font: $weight $size 'Roboto Slab', serif;
}

%sombra {
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
}

%titulo_bg { background: rgba(0, 0, 0, 0.5); }

%titulo_hr {
  display: inline-block;
  padding-right: 15px;
  position: relative;
  text-align: left;
  &::after {
    background: #000 none repeat scroll 0 0;
    top: 25px;
    content: "";
    display: inline-block;
    height: 1px;
    left: 100%;
    position: absolute;
    width: 100vw;
  }
}

// Fonts
// @font-face {
//     font-family:'Javanese';
//     src: url('../fonts/Javanese_Text.eot');
// 	  src: url('../fonts/Javanese_Text.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/Javanese_Text.woff2') format('woff2'),
// 		url('../fonts/Javanese_Text.woff') format('woff'),
// 		url('../fonts/Javanese_Text.ttf') format('truetype'),
// 		url('../fonts/Javanese_Text.svg#Javanese Text') format('svg');
//     font-weight: 400;
//     font-style: normal;
//     font-stretch: normal;
//     // unicode-range: U+0020-203A;
// }
