// Colors
$brand-primary:         #27ae60;
// $titulos_cor:           rgb(23, 31, 68);
$titulos_cor:           #171f44;
$hover_cor:             red;

//Mixins
@mixin titulos($size: 2rem, $margin-top: 5px) {
  font: $size 'roboto_slabbold', serif;
}

@mixin titulos_chamadas($size: 1rem) {
  font: $size 'roboto_slabregular', serif;
}

@mixin titulos_chamadas_bold($size: 1rem) {
  font: $size 'roboto_slabbold', serif;
}

%sombra {
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
}

%titulo_bg {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  &:hover { background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0; }
}

%titulo_hr {
  display: inline-block;
  padding-right: 15px;
  position: relative;
  text-align: left;
  &::after {
    background: #000 none repeat scroll 0 0;
    top: 25px;
    content: "";
    display: inline-block;
    height: 1px;
    left: 100%;
    position: absolute;
    width: 100vw;
  }
}

// Font-face
@font-face {
    font-family: 'roboto_slabbold';
    src: url('../fonts/Roboto_Slab/robotoslab-bold-webfont.eot');
    src: url('../fonts/Roboto_Slab/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto_Slab/robotoslab-bold-webfont.woff2') format('woff2'),
         url('../fonts/Roboto_Slab/robotoslab-bold-webfont.woff') format('woff'),
         url('../fonts/Roboto_Slab/robotoslab-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_slabregular';
    src: url('../fonts/Roboto_Slab/robotoslab-regular-webfont.eot');
    src: url('../fonts/Roboto_Slab/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto_Slab/robotoslab-regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto_Slab/robotoslab-regular-webfont.woff') format('woff'),
         url('../fonts/Roboto_Slab/robotoslab-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/Roboto/roboto-bold-webfont.eot');
    src: url('../fonts/Roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/Roboto/roboto-bolditalic-webfont.eot');
    src: url('../fonts/Roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/Roboto/roboto-italic-webfont.eot');
    src: url('../fonts/Roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto/roboto-regular-webfont.eot');
    src: url('../fonts/Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
