//Mixins
@mixin titulos($color, $size: 2rem, $weight: 400) {
  color: $color; // font: $size 'muliregular', sans-serif;
  font: $weight $size "Muli", sans-serif;
}

@mixin titulos-chamadas($size: 1rem) {
  // font: $size 'muliregular', sans-serif;
  font: $size "Muli", sans-serif;
}

@mixin titulos-chamadas-bold($size: 2rem) {
  // font: bold $size 'mulibold', sans-serif;
  font: bold $size "Muli", sans-serif;
}

// font-family: 'Open Sans', sans-serif;
// font-family: 'Muli', sans-serif;
// @mixin titulos-chamadas-black($size: 2rem) {
//   font: bold $size 'muliblack', sans-serif;
// }
@mixin texto-fonte($size: 1.125rem, $line-height: 1.8) {
  // font: $size 'open_sansregular', sans-serif;
  font: $size "Open Sans", sans-serif;
  line-height: $line-height; // 1.0625rem/1.8 "Open Sans",sans-serif
}

@mixin hover-cor($cor) {
  transition: $transition;

  &:hover {
    // color: darken($cor, 20%);
    color: darken($cor, 100%);
  }
}

@mixin svg-fonts($display: inline-block, $height: 3em, $size: 0.7rem) {
  .icon {
    display: $display;
    width: 1em;
    height: $height;
    stroke-width: 0;
    stroke: currentColor;
    fill: black;
    font-size: $size;
  }

  .icon-search-1 {
    width: 2em;
  }
}

%titulo-bg {
  background: $titulo-bg none repeat scroll 0 0;

  &:hover {
    background: $titulo-bg-hover none repeat scroll 0 0;
  }
}

%border-content {
  border-left: 1px solid $border-content;
  border-right: 1px solid $border-content;
}

%sidebar-titulos {
  border-top: 5px solid $cor-primary; // color: $cor-primary;
  padding-top: 10px;
}

%flex-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; // -webkit-flex-wrap: nowrap;
  // -ms-flex-wrap: nowrap;
  // flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

%flex-header-child1 {
  .flex-item:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
}

%flex-header-child2 {
  .flex-item:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

%flex-header-child3 {
  .flex-item:nth-child(3) {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
}

// Font Face

@font-face {
  font-family: 'muli';
  src: url('../fonts/muli-regular-webfont.eot');
  src:
    url('../fonts/muli-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/muli-regular-webfont.woff2') format('woff2'),
    url('../fonts/muli-regular-webfont.woff') format('woff'),
    url('../fonts/muli-regular-webfont.ttf') format('truetype'),
    url('../fonts/muli-regular-webfont.svg#muliregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-regular-webfont.eot');
  src:
    url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-italic-webfont.eot');
  src:
    url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-italic-webfont.woff') format('woff'),
    url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-bold-webfont.eot');
  src:
    url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff'),
    url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Base styles

::selection {
  text-shadow: none;
  color: #333;
  background: #ffffcf;
}

::-moz-selection {
  text-shadow: none;
  color: #333;
  background: #ffffcf;
}

a {
  // color: $titulos-cor;
  // -webkit-tap-highlight-color: rgba(234, 21, 21, 0);
  // -moz-tap-highlight-color: rgba(234, 21, 21, 0);
  &:hover {
    text-decoration: none;
    color: inherit;
  } // &:active {
  //   color: $touch;
  //   -webkit-touch-callout: $touch;
  //   -webkit-user-select: $touch;
  //   -khtml-user-select: $touch;
  //   -moz-user-select: $touch;
  //   -ms-user-select: $touch;
  //   user-select: $touch;
  //   background-color: $touch;
  // }
}

p {
  @include texto-fonte;
}

// input[type="submit"] {
//   font-family: "FontAwesome";
// }

hr {
  border-color: $cor-complem;
  border-style: solid $cor-complem;
  border-width: 5px 0;
}

.home,
.sidebar-primary {
  // background: rgba(5, 52, 82, 1);
  // background: -moz-linear-gradient(top, rgba(5, 52, 82, 1) 0%, rgba(5, 45, 70, 1) 37%, rgba(4, 33, 51, 1) 60%, rgba(0, 22, 36, 1) 78%, rgba(0, 22, 36, 1) 92%, rgba(0, 22, 36, 1) 100%);
  // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(5, 52, 82, 1)), color-stop(37%, rgba(5, 45, 70, 1)), color-stop(60%, rgba(4, 33, 51, 1)), color-stop(78%, rgba(0, 22, 36, 1)), color-stop(92%, rgba(0, 22, 36, 1)), color-stop(100%, rgba(0, 22, 36, 1)));
  // background: -webkit-linear-gradient(top, rgba(5, 52, 82, 1) 0%, rgba(5, 45, 70, 1) 37%, rgba(4, 33, 51, 1) 60%, rgba(0, 22, 36, 1) 78%, rgba(0, 22, 36, 1) 92%, rgba(0, 22, 36, 1) 100%);
  // background: -o-linear-gradient(top, rgba(5, 52, 82, 1) 0%, rgba(5, 45, 70, 1) 37%, rgba(4, 33, 51, 1) 60%, rgba(0, 22, 36, 1) 78%, rgba(0, 22, 36, 1) 92%, rgba(0, 22, 36, 1) 100%);
  // background: -ms-linear-gradient(top, rgba(5, 52, 82, 1) 0%, rgba(5, 45, 70, 1) 37%, rgba(4, 33, 51, 1) 60%, rgba(0, 22, 36, 1) 78%, rgba(0, 22, 36, 1) 92%, rgba(0, 22, 36, 1) 100%);
  // background: linear-gradient(to bottom, rgba(5, 52, 82, 1) 0%, rgba(5, 45, 70, 1) 37%, rgba(4, 33, 51, 1) 60%, rgba(0, 22, 36, 1) 78%, rgba(0, 22, 36, 1) 92%, rgba(0, 22, 36, 1) 100%);
  // filter: progid:dximagetransform.microsoft.gradient(startColorstr='#053452', endColorstr='#001624', GradientType=0);
}

body {
  @include texto-fonte;

  background-color: $bg-body; // background: rgba(0, 0, 0, 0) url("../images/ricepaper-v3.png") repeat scroll 0 0;
  .content {
    // @extend %border-content;
    padding-top: 15px;

    main {
      overflow: hidden;

      section {
        overflow: hidden;
      }
    }
  }
}

// CSS apenas home
body.home {
  // background-color: pink;

  main {
    // background-color: #D3D3D3;
    section {
      article {
        margin: 15px 0;
      }
    }

    section#curiosidades {
      h2 {
        @include titulos($color: $white);

        background-color: $cor-complem;
        text-indent: 20px;
        line-height: 2em;
      }

      article {
        position: relative; // margin-bottom: 15px;
        h3 {
          @include titulos-chamadas-bold;
          @include hover-cor($cor: $cor-complem);

          color: $titulos-cor;
          margin-top: 10px;
        }

        h4 {
          @include titulos($titulos-cor, $size: 0.9rem); // @extend %titulo-bg;

          bottom: 0;
          left: 0;
          margin: 0;
          padding: 5px 0 5px 20px;
          position: absolute;
          width: 100%;
          color: $white;
        }
      }

      img {
        max-width: 100%;
        height: auto;
        width: 100%;
      }
    }

    section#mais {
      h2 {
        @include titulos($color: $white);

        background-color: $cor-complem;
        text-align: center;
        line-height: 2em;
      }

      article {
        h3 {
          @include titulos($titulos-cor, $size: 1.2rem, $weight: 700);
          @include hover-cor($cor: $cor-complem);

          margin-top: 10px;
        }
      }

      img {
        max-width: 100%;
        height: auto; // width: 100%;
      }

      .mais-extensao {
        // margin: 30px 0;
        h2 {
          @include titulos($color: $titulos-cor);

          background-color: transparent;
          display: block;
          text-align: center;

          &::after {
            background: none;
          }
        }

        article {
          h3 {
            height: 55px;

            @include hover-cor($cor: $cor-complem);
          }
        }
      }
    }

    span.text-center {
      display: block;
      margin-bottom: 3em;
      margin-top: 3em;

      a.button {
        @include titulos-chamadas-bold($size: 2rem);
      }
    }
  }
}

// Serve para todas as páginas: categorias, tags, busca
.sidebar-primary {
  .content {
    background-color: $bg-content; // padding-bottom: 5em;
    main {
      h1 {
        @include titulos($titulos-cor, $size: 2.5rem);
      }
    }
  }
}
