/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// Variables

// Main colors
$brand-primary: #705834;
$brand-secundary: #345570; // cor complementar da cor primária
$hover-menu: #58738a; // shade da secundária
$complementary: #f2af29; // cor complementar da secundária

// Paleta
// $color1: rgba(112, 88, 52, 1);
// $color2: rgba(173, 52, 62, 1);
// $color3: rgba(242, 175, 41, 1);
// $color4: rgba(0, 0, 0, 1);
// $color5: rgba(52, 85, 112, 1);

//other colors
$instagram-orange: #e95950;
// $link: #c27525;
$link: #a8943d;
$hr: #d25c6a;
// $brand-primary: #084a60;
$logo: #fff;
$cor-primary: $brand-secundary; // azul
$cor-sidebar: $brand-secundary; // azul claro
$cor-titulo-sidebar: $brand-secundary;
$titulos-cor: #2e2e2e; // ou #484848
$cor-texto: #333; // ou #484848
$first-gradient: rgb(0, 0, 0);
$gradient: 0deg, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0.95) 30%, rgba(0, 0, 0, 0.85) 45%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.40379901960784315) 100%;
$gradient-hover: linear-gradient(0deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.7959558823529411) 80%);
$filter:progid:dximagetransform.microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
// $cor-sidebar: #c9dae1; // azul claro
// $titulos-cor: #171f44;
// #484848
$white: #fff;
$black: #000;
$quote: #999;
$touch: #c9dae1;
// $bg-content: #f7f7f7;
$bg-content: #fff;
// $bg-body: #ececec;
$bg-body: #e5e5df;
$bg-mais: #d4ddda;
$border-content: #dadada;
$border-sidebar: #a3bac1;
// $cor-texto: #263238;
$cor-blockquote: #606060;
// figcaption
$figcaption: #3b3b3b;

//cor categorias historia brasil
$cat-histbrasil: $complementary;
//cor categorias periodos
$cat-periodos: #2e8894;
//cor categorias artes
$cat-artes: #5d7d66;
//cor biografias
$cat-bio: #bba046;
$cat-curios: #083c17;
// cor guerras
$cor-guerras: #bba046;
// cor personalidades
$cor-personalidades: #907eae;
// cor crime
$cor-crime: #000;
// cor direitos
$cat-dirhum: #4298c5;
// outros
$cat-outros: #f7d4a3;
// //cor mais
// $cat-mais: #59aaa1;
// $cor-livros: #ef23d0;
// $cor-papeis: #c11aa8;
// $cor-outras: #9004cb;
