// Footer

footer {
  .content-info {
    @include titulos-chamadas($size: 2rem);

    background-color: $cor-primary;
    color: $white;
    height: 200px;
    margin-top: 5em;
    text-align: center;

    .container {
      height: inherit;
    }

    .row {
      height: inherit;
    }
  }
}
