// Footer

footer.content-info {
  background-color: $cor-primary;
  border-top: $border-bg;
  // margin-top: 2em;
  padding-top: 1.5em;

  .sitemap-footer {
    @include titulos-chamadas;

    li {
      list-style: none;
      margin: 10px 0;
      white-space: nowrap;
      // width: 15%;
      .sub-menu {
        padding-left: 1em;

        li a {
          color: $white;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .sitemap-footer > li {
    display: inline-block;
    margin-right: 1em;
    vertical-align: top;
    line-height: 20px;
    // width: 22%;
  }

  .sitemap-footer > li > a {
    @include titulos-chamadas-bold($size: 1rem);

    color: $black;
  }

  .footer-right {
    p {
      @include titulos-chamadas-bold($size: 1.5rem);

      color: $white;
    }

    .facebook-footer {
      margin: 1em 0;

      a {
        color: inherit;
      }

      .fa {
        font-size: 3rem;
        color: $black;

        &:hover {
          color: #316182;
        }
      }
    }
  }

  .container-fluid.copyright {
    @include titulos-chamadas-bold($size: 1.2rem);

    background-color: $white;
    color: $black;
    line-height: 3em;
    text-align: center;
  }
}
