// Header

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

header.banner {
  color: $logo;
  background: url('../images/bg.jpg') no-repeat scroll center top / cover;
  height: 300px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;

  #nav-page {
    font-weight: bold;
    font-size: small;
    background-color: $bg-content;
    color: $black;
  }

  .container-brand {
    // padding: 0 0 5em;

    .brand {
      display: inline-block;
      margin-bottom: 25px;

      svg {
        filter: drop-shadow(-2px -2px 5px #000);
        height: auto;
      }
    }
  }

  .nav-primary {
    @include titulos-chamadas($size: 1rem) ul.nav {
      li {
        list-style: none;

        a {
          color: inherit;
          white-space: nowrap;
        }

        &.menu-item-has-children {
          &:hover .sub-menu {
            display: inline !important;
          }
        }
      }
    }
  }

  #nav-menu {
    background-color: $cor-primary;
    color: white;

    ul.nav {
      // menu dropdown responsivo
      margin: 0 auto;

      li {
        &:hover .dropdown-menu {
          display: block;
          margin-top: 0;
        }

        .dropdown-menu {
          background-color: $cor-primary;
          color: inherit;
          border-bottom: 2px solid rgba(0, 0, 0, 0.15);
          border-left: 2px solid rgba(0, 0, 0, 0.15);
          border-radius: 0;
          border-right: 2px solid rgba(0, 0, 0, 0.15);
          border-top: 0;

          a:hover {
            background-color: #137c9f;
          }
        }
      }
    }
  }
}
