// Header

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

header.banner {
  // border-bottom: $border-bg;

  #nav-page {
    font-weight: bold;
    background-color: $bg-content;
    color: $black;
  }

  #logo {
    color: $logo;
    background: url('../images/bg.jpg') no-repeat scroll top center / cover;
    height: 250px;

    .logo-titulo {
      padding-top: 25px;

      svg {
        -webkit-filter: drop-shadow(-5px -5px 5px #000);
        filter: drop-shadow(-5px -5px 5px #000); /* Same syntax as box-shadow, except  for the spread property */

        path {
          fill: $logo;
        }
      }

      h1 {
        @include titulos-chamadas-bold($size: 3.2rem);

        text-shadow: 5px 5px 5px #000;
        margin-left: 15px;
        line-height: 1em;

        a {
          color: $white;
        }
      }
    }
  }

  .nav-primary {
    @include titulos-chamadas($size: 1rem) ul.nav {
      li {
        list-style: none;

        a {
          color: inherit;
          white-space: nowrap;
        }

        &.menu-item-has-children {
          &:hover .sub-menu {
            display: inline !important;
          }
        }
      }
    }
  }

  .nav-primary-main {
    background-color: $cor-primary !important;
    color: white;

    ul.nav {
      // menu dropdown responsivo
      margin: 0 auto;

      li {
        &:hover .dropdown-menu {
          display: block;
          margin-top: 0;
        }

        .dropdown-menu {
          background-color: $cor-primary;
          color: inherit;
          border-bottom: 2px solid rgba(0, 0, 0, 0.15);
          border-left: 2px solid rgba(0, 0, 0, 0.15);
          border-radius: 0;
          border-right: 2px solid rgba(0, 0, 0, 0.15);
          border-top: 0;

          a:hover {
            background-color: #137c9f;
          }
        }
      }
    }
  }
}
