.banner .nav li {
  @extend .nav-item;
}
.banner .nav a {
  @extend .nav-link;
}

// Menu responsivo centralizar
.menu-categorias-menu-container {
  margin: 0 auto;
}

.navbar-collapse {background-color: #188cb3;}

#logo {
  // margin-top: 15px;
  color: $brand-primary;
  background: url('../images/bg_header.jpg') no-repeat scroll center center / cover;
  height: 500px;
  padding-top: 15px;
  svg {
    // width: 145px;
    // height: 165px;
    // width: 8%;
    path {
      fill: $brand-primary;
    }
  }
  // img { width: 90%; }
  h1 {
    // display: inline-flex;
    @include titulos_chamadas_bold($size: 3rem);
    margin-left: 45px;
    line-height: 1em;
    a { color: inherit;; }
  }
}
