// Sidebar

.sidebar {
  > div {
    background-color: $cor-sidebar;
    padding: 1em;

    section {
      margin-bottom: 15px;

      &.widget_text {
        @include titulos($color: $white, $size: 2.5rem);

        background: url('../images/livrosindicados.jpg') no-repeat scroll center center / cover;
        height: 200px;

        .textwidget {
          margin-left: auto;
          margin-right: auto;
          position: relative;
          text-align: center;
          text-shadow: 1px 1px 5px $black;
          top: 50%;
          text-transform: uppercase;
          transform: translateY(-50%);
          width: 7em;

          span:first-child {
            font-weight: bold;
          }
        }
      }

      &.widget_tag_cloud {
        h3 {
          @include titulos($color: $sidebar-cor);
        }

        .tagcloud {
          a {
            color: $sidebar-cor;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &.widget_execphp {
        .fb-page,
        .fb-page span,
        .fb-page span iframe[style] {
          width: 100% !important;
        }
      }
    }
  }

  // Mais acessadas
  .tptn_posts {
    border-top: 1px solid $border-sidebar;
    margin-top: 30px;

    h3 {
      @include titulos($color: $sidebar-cor, $size: 1.5rem);

      margin-top: 15px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        // background-color: green;
        margin: 10px 0 0;

        img {
          // background-color: blue;
          height: auto;
          width: 40%;
        }

        .tptn_title {
          // background-color: yellow;
          padding-left: 10px;
          float: right;
          width: 60%;
        }
      }
    }
  }
}
