/* Popup Theme 13839: Light Box */
.pum-theme-13839,
.pum-theme-lightbox {
  background-color: rgba(0, 0, 0, 0.6);
}

.pum-theme-13839 .pum-container,
.pum-theme-lightbox .pum-container {
  padding: 18px;
  border-radius: 3px;
  border: 8px solid #000;
  box-shadow: 0 0 30 0 rgba(2, 2, 2, 1);
  background-color: rgba(255, 255, 255, 1);
}

.pum-theme-13839 .pum-title,
.pum-theme-lightbox .pum-title {
  color: #000;
  text-align: center;
  text-shadow: 0 0 0 rgba(2, 2, 2, 0.23);
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 3;
}

.pum-theme-13839 .pum-content,
.pum-theme-lightbox .pum-content {
  color: #000;
  font-family: inherit;
  font-weight: 100;
}

.pum-theme-13839 .pum-content + .pum-close,
.pum-theme-lightbox .pum-content + .pum-close {
  position: absolute;
  height: 26px;
  width: 26px;
  left: auto;
  right: -13px;
  bottom: auto;
  top: -13px;
  padding: 0;
  color: #fff;
  //   font-family: Arial;
  font-weight: 100;
  font-size: 24px;
  line-height: 24px;
  border: 2px solid #fff;
  border-radius: 26px;
  box-shadow: 0 0 15px 1px rgba(2, 2, 2, 0.75);
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.23);
  background-color: rgba(0, 0, 0, 1);
}

/* Popup Theme 13844: Pop up */
.pum-theme-13844,
.pum-theme-pop-up {
  background-color: rgba(255, 255, 255, 0.4);
}

.pum-theme-13844 .pum-container,
.pum-theme-pop-up .pum-container {
  padding: 18px;
  border-radius: 0;
  border: 1px none #000;
  box-shadow: 1px 1px 3px 0 rgba(2, 2, 2, 0.23);
  background-color: rgba(249, 249, 249, 1);
}

.pum-theme-13844 .pum-title,
.pum-theme-pop-up .pum-title {
  color: #000;
  text-align: left;
  text-shadow: 0 0 0 rgba(2, 2, 2, 0.23);
  font-family: inherit;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}

.pum-theme-13844 .pum-content,
.pum-theme-pop-up .pum-content {
  color: #8c8c8c;
  font-family: inherit;
  font-weight: 400;
}

.pum-theme-13844 .pum-content + .pum-close,
.pum-theme-pop-up .pum-content + .pum-close {
  position: absolute;
  height: auto;
  width: auto;
  left: auto;
  right: 0;
  bottom: auto;
  top: 0;
  padding: 8px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 36px;
  border: 1px none #fff;
  border-radius: 0;
  box-shadow: 1px 1px 3px 0 rgba(2, 2, 2, 0.23);
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.23);
  background-color: rgba(0, 183, 205, 1);
}

/* Popup Theme 13840: Enterprise Blue */
.pum-theme-13840,
.pum-theme-enterprise-blue {
  background-color: rgba(0, 0, 0, 0.7);
}

.pum-theme-13840 .pum-container,
.pum-theme-enterprise-blue .pum-container {
  padding: 28px;
  border-radius: 5px;
  border: 1px none #000;
  box-shadow: 0 10 25px 4px rgba(2, 2, 2, 0.5);
  background-color: rgba(255, 255, 255, 1);
}

.pum-theme-13840 .pum-title,
.pum-theme-enterprise-blue .pum-title {
  color: #315b7c;
  text-align: left;
  text-shadow: 0 0 0 rgba(2, 2, 2, 0.23);
  font-family: inherit;
  font-weight: 100;
  font-size: 34px;
  line-height: 36px;
}

.pum-theme-13840 .pum-content,
.pum-theme-enterprise-blue .pum-content {
  color: #2d2d2d;
  font-family: inherit;
  font-weight: 100;
}

.pum-theme-13840 .pum-content + .pum-close,
.pum-theme-enterprise-blue .pum-content + .pum-close {
  position: absolute;
  height: 28px;
  width: 28px;
  left: auto;
  right: 8px;
  bottom: auto;
  top: 8px;
  padding: 4px;
  color: #fff;
  font-family: Times New Roman, serif;
  font-weight: 100;
  font-size: 20;
  line-height: 20;
  border: 1px none #fff;
  border-radius: 42px;
  box-shadow: 0 0 0 0 rgba(2, 2, 2, 0.23);
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.23);
  background-color: rgba(49, 91, 124, 1);
}

/* Popup Theme 13841: Hello Box */
.pum-theme-13841,
.pum-theme-hello-box {
  background-color: rgba(0, 0, 0, 0.75);
}

.pum-theme-13841 .pum-container,
.pum-theme-hello-box .pum-container {
  padding: 30;
  border-radius: 80;
  border: 14px solid #81d742;
  box-shadow: 0 0 0 0 rgba(2, 2, 2, 0);
  background-color: rgba(255, 255, 255, 1);
}

.pum-theme-13841 .pum-title,
.pum-theme-hello-box .pum-title {
  color: #2d2d2d;
  text-align: left;
  text-shadow: 0 0 0 rgba(2, 2, 2, 0.23);
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  font-size: 32px;
  line-height: 36px;
}

.pum-theme-13841 .pum-content,
.pum-theme-hello-box .pum-content {
  color: #2d2d2d;
  font-family: inherit;
  font-weight: 100;
}

.pum-theme-13841 .pum-content + .pum-close,
.pum-theme-hello-box .pum-content + .pum-close {
  position: absolute;
  height: auto;
  width: auto;
  left: auto;
  right: -30;
  bottom: auto;
  top: -30;
  padding: 0;
  color: #2d2d2d;
  font-family: Times New Roman, serif;
  font-weight: 100;
  font-size: 32px;
  line-height: 28px;
  border: 1px none #fff;
  border-radius: 28px;
  box-shadow: 0 0 0 0 rgba(2, 2, 2, 0.23);
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.23);
  background-color: rgba(255, 255, 255, 1);
}

/* Popup Theme 13842: Cutting Edge */
.pum-theme-13842,
.pum-theme-cutting-edge {
  background-color: rgba(0, 0, 0, 0.5);
}

.pum-theme-13842 .pum-container,
.pum-theme-cutting-edge .pum-container {
  padding: 18px;
  border-radius: 0;
  border: 1px none #000;
  box-shadow: 0 10 25px 0 rgba(2, 2, 2, 0.5);
  background-color: rgba(30, 115, 190, 1);
}

.pum-theme-13842 .pum-title,
.pum-theme-cutting-edge .pum-title {
  color: #fff;
  text-align: left;
  text-shadow: 0 0 0 rgba(2, 2, 2, 0.23);
  font-family: Sans-Serif;
  font-weight: 100;
  font-size: 26px;
  line-height: 28px;
}

.pum-theme-13842 .pum-content,
.pum-theme-cutting-edge .pum-content {
  color: #fff;
  font-family: inherit;
  font-weight: 100;
}

.pum-theme-13842 .pum-content + .pum-close,
.pum-theme-cutting-edge .pum-content + .pum-close {
  position: absolute;
  height: 24px;
  width: 24px;
  left: auto;
  right: 0;
  bottom: auto;
  top: 0;
  padding: 0;
  color: #1e73be;
  font-family: Times New Roman, serif;
  font-weight: 100;
  font-size: 32px;
  line-height: 24px;
  border: 1px none #fff;
  border-radius: 0;
  box-shadow: -1px 1px 1px 0 rgba(2, 2, 2, 0.1);
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(238, 238, 34, 1);
}

/* Popup Theme 13843: Framed Border */
.pum-theme-13843,
.pum-theme-framed-border {
  background-color: rgba(255, 255, 255, 0.5);
}

.pum-theme-13843 .pum-container,
.pum-theme-framed-border .pum-container {
  padding: 18px;
  border-radius: 0;
  border: 20 outset #d33;
  box-shadow: 1px 1px 3px 0 rgba(2, 2, 2, 0.97) inset;
  background-color: rgba(255, 251, 239, 1);
}

.pum-theme-13843 .pum-title,
.pum-theme-framed-border .pum-title {
  color: #000;
  text-align: left;
  text-shadow: 0 0 0 rgba(2, 2, 2, 0.23);
  font-family: inherit;
  font-weight: 100;
  font-size: 32px;
  line-height: 36px;
}

.pum-theme-13843 .pum-content,
.pum-theme-framed-border .pum-content {
  color: #2d2d2d;
  font-family: inherit;
  font-weight: 100;
}

.pum-theme-13843 .pum-content + .pum-close,
.pum-theme-framed-border .pum-content + .pum-close {
  position: absolute;
  height: 20;
  width: 20;
  left: auto;
  right: -20;
  bottom: auto;
  top: -20;
  padding: 0;
  color: #fff;
  font-family: Tahoma, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border: 1px none #fff;
  border-radius: 0;
  box-shadow: 0 0 0 0 rgba(2, 2, 2, 0.23);
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.23);
  background-color: rgba(0, 0, 0, 0.55);
}

/* Popup Theme 13838: Default Theme */
.pum-theme-13838,
.pum-theme-default-theme {
  background-color: rgba(255, 255, 255, 1);
}

.pum-theme-13838 .pum-container,
.pum-theme-default-theme .pum-container {
  padding: 18px;
  border-radius: px;
  border: 1px none #000;
  box-shadow: 1px 1px 3px px rgba(2, 2, 2, 0.23);
  background-color: rgba(249, 249, 249, 1);
}

.pum-theme-13838 .pum-title,
.pum-theme-default-theme .pum-title {
  color: #000;
  text-align: left;
  text-shadow: px px px rgba(2, 2, 2, 0.23);
  font-family: inherit;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  line-height: 36px;
}

.pum-theme-13838 .pum-content,
.pum-theme-default-theme .pum-content {
  color: #8c8c8c;
  font-family: inherit;
  font-weight: 400;
  font-style: inherit;
}

.pum-theme-13838 .pum-content + .pum-close,
.pum-theme-default-theme .pum-content + .pum-close {
  position: absolute;
  height: auto;
  width: auto;
  left: auto;
  right: px;
  bottom: auto;
  top: px;
  padding: 8px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  font-style: inherit;
  line-height: 36px;
  border: 1px none #fff;
  border-radius: px;
  box-shadow: 1px 1px 3px px rgba(2, 2, 2, 0.23);
  text-shadow: px px px rgba(0, 0, 0, 0.23);
  background-color: rgba(0, 183, 205, 1);
}

#pum-13845 {
  z-index: 1999999999;
}
