.main-carousel {
  height: 370px;
  margin-bottom: 15px;

  .flickity-viewport {
    &.is-pointer-down .carousel-cell a {
      cursor: grabbing;
    }

    .flickity-slider .carousel-cell {
      height: 100%;
      list-style: none;
      width: 100%;

      a {
        cursor: grab;

        img {
          width: 100%;
          height: 100%;
        }

        header {
          // @include titulos($color: $white);
          // @extend %titulo-bg;
          // background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
          background: $first-gradient;
          background: -moz-linear-gradient($gradient);
          background: -webkit-linear-gradient($gradient);
          background: linear-gradient($gradient);
          bottom: 0;
          color: $white;
          filter: $filter;
          font: 400 1.8rem Muli, sans-serif;
          height: 100%;
          left: 0;
          padding: 5px 0 20px 20px;
          position: absolute;
          width: 100%;

          &:hover {
            background: $gradient-hover;
          }

          h2 {
            // @include titulos-chamadas-bold;
            // font: bold 2rem "Muli", sans-serif;
            font-weight: bold;
            // padding: 0;
            // margin: 0;
            position: relative;
            top: 60%;
          }

          p {
            // @include titulos-chamadas;
            font: 1rem Muli, sans-serif;
            margin-top: 5px;
            position: relative;
            top: 60%;
          }
        }
      }
    }
  }

  .dot-is-selected {
    background-color: $white;
  }
}
