.main-carousel {
  height: 370px;
  margin-bottom: 15px;

  .flickity-viewport {
    &.is-pointer-down .carousel-cell a {
      cursor: grabbing;
    }

    .flickity-slider .carousel-cell {
      width: 100%;
      height: 100%;
      list-style: none;

      a {
        cursor: grab;

        header {
          // @include titulos($color: $white);
          color: #fff;
          font: 400 1.8rem Muli, sans-serif;
          // @extend %titulo-bg;
          // background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
          background: linear-gradient(0deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.3897934173669467) 80%);

          &:hover {
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.7959558823529411) 80%);
          }

          bottom: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 5px 0 20px 20px;

          h2 {
            // @include titulos-chamadas-bold;
            // font: bold 2rem "Muli", sans-serif;
            font-weight: bold;
            // padding: 0;
            // margin: 0;
            position: relative;
            top: 60%;
          }

          p {
            // @include titulos-chamadas;
            font: 1rem "Muli", sans-serif;
            margin-top: 5px;
            position: relative;
            top: 60%;
          }
        }
      }
    }
  }

  .dot-is-selected {
    background-color: #fff;
  }
}
